<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{form_start(form)}}
        {{form_widget(form)}}

        <div>
            <label for="urlsite">Lien du site web</label>
            <input type="text" name='urlsite' id='urlsite' required>
        </div>

        <input type="submit" value="Ajouter">
    {{form_end(form)}}
</body>
</html>